
.gallery-block {
    .gallery-item {
        display: flex;
        padding: 1em;
        align-items: center;
        justify-content: center;
        margin: 0.5em;
        img {
            &.x-50 {
                width: 50%;
            }
            &.x-75 {
                width: 75%;
            }
        }
    }
}

.example-block {
    width: 100%;
    padding: 1em;
    margin: 0 0 1em 0;
    .example {
        display: flex;
        > * {
            display: flex;
            padding: 1em;
            justify-content: center;
            flex-direction: column;
        }
        &:first-child {
        }
        &:last-child {
            span {
                &:first-child {
                    font-weight: 600;   
                }
            }
            flex-grow: 1;
            display: flex;
        }
    }
}

.example-color {
    margin: 1em 0em;
    display: flex;
    justify-content: space-between;
    &-circle {
        width: 30%;
        border-radius: 99em;
    }
    &-description {
        width: 65%;
        padding: 0 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span:first-child {
            font-weight: 600;   
        }
    }
}

.example-type {
    display: flex;
    flex-direction: column;
    > span:last-child {
        font-weight: 500;
    }
}

.example-icons {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    justify-content: flex-start;
    > div {
        display: flex;
        width: 10em;
        align-items: baseline;
        > span {
            &:first-child {
                font-size: 1.4rem;
            }
            font-size: 0.8rem;
            padding: 0.25em;
        }
    }
}

.example-badges {
    .label {
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .description {
        font-weight: 500;
    }
}