// SENTINEL

@font-face {
    font-family: 'Sentinel';
    font-weight: 400;
    font-style: normal;
    src:  url('../fonts/sentinel/sentinel-normal.woff2') format('woff2'),
          url('../fonts/sentinel/sentinel-normal.woff') format('woff');
}

@font-face {
    font-family: 'Sentinel';
    font-weight: 400;
    font-style: italic;
    src:  url('../fonts/sentinel/sentinel-italic.woff2') format('woff2'),
          url('../fonts/sentinel/sentinel-italic.woff') format('woff');
}


@font-face {
    font-family: 'Sentinel';
    font-weight: 600;
    font-style: normal;
    src:  url('../fonts/sentinel/sentinel-semibold.woff2') format('woff2'),
          url('../fonts/sentinel/sentinel-semibold.woff') format('woff');
}

@font-face {
    font-family: 'Sentinel';
    font-weight: 600;
    font-style: italic;
    src:  url('../fonts/sentinel/sentinel-semibold-italic.woff2') format('woff2'),
          url('../fonts/sentinel/sentinel-semibold-italic.woff') format('woff');
}

// ROBOTO

@font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Light.ttf"); 
    font-style: normal;
    font-weight: 300;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-LightItalic.ttf"); 
    font-style: italic;
    font-weight: 300;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf"); 
    font-style: normal;
    font-weight: 400;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Italic.ttf"); 
    font-style: italic;
    font-weight: 400;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf"); 
    font-style: normal;
    font-weight: 500;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-MediumItalic.ttf"); 
    font-style: italic;
    font-weight: 500;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Bold.ttf"); 
    font-style: normal;
    font-weight: 700;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-BoldItalic.ttf"); 
    font-style: italic;
    font-weight: 700;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Black.ttf"); 
    font-style: normal;
    font-weight: 900;
  }
  @font-face { 
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-BlackItalic.ttf"); 
    font-style: italic;
    font-weight: 900;
  }