#toc-collapse {
    .nav {
        margin-top: 1rem;
    }

    .nav-item {
        font-family: 'Sentinel';
        padding: 0;
        &[data-level="1"] {
            font-weight: bold;
            font-size: 1.2rem;
            margin: 0.7rem 0 0 0;
            > .nav-link.active::before {
                content: "• ";
            }
        }
        &[data-level="2"] {
            font-weight: normal;
            font-size: 1rem;
            margin: 0.3rem 0 0 1rem;
        }
    }
    .nav-link {
        padding: 0rem;
    }
}