#toc-collapse {
    .nav-item {
        padding: 0;
        &[data-level="2"], &[data-level="1"] {
            font-weight: 600;
            margin: 0.7rem 0 0 0;
        }
        &[data-level="3"] {
            font-weight: normal;
            margin: 0.3rem 0 0 1rem;
        }
    }
    .nav-link {
        padding: 0rem;
    }
    .nav-link:not(.active) + .subnav {
        display: none;
    }
}