.ingress {
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
    p {
        font-size: 1.6rem;
    }
    font-family: 'Sentinel';
}
.navbar-brand {
    font-size: 1rem;
    img {
        margin-right: 0.25rem;
    }
}