@charset "UTF-8";
@import "../fonts/kbico/style.css";
@font-face {
  font-family: "Sentinel";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/sentinel/Sentinel-Light.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-Light.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/sentinel/Sentinel-LightItalic.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/sentinel/Sentinel-Medium.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-Medium.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/sentinel/Sentinel-MediumItalic.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/sentinel/Sentinel-Medium.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-Medium.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/sentinel/Sentinel-MediumItalic.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/sentinel/Sentinel-Semibold.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/sentinel/Sentinel-SemiboldItalic.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/sentinel/Sentinel-Bold.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-Bold.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/sentinel/Sentinel-BoldItalic.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/sentinel/Sentinel-Black.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-Black.woff") format("woff");
}
@font-face {
  font-family: "Sentinel";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/sentinel/Sentinel-BlackItalic.woff2") format("woff2"), url("../fonts/sentinel/Sentinel-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
}
#toc-collapse {
  margin-top: 1rem;
}
#toc-collapse .nav-item {
  font-family: "Sentinel";
  padding: 0;
}
#toc-collapse .nav-item[data-level="2"], #toc-collapse .nav-item[data-level="1"] {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.7rem 0 0 0;
}
#toc-collapse .nav-item[data-level="2"] > .nav-link.active, #toc-collapse .nav-item[data-level="1"] > .nav-link.active {
  font-style: italic;
}
#toc-collapse .nav-item[data-level="2"] > .nav-link.active::before, #toc-collapse .nav-item[data-level="1"] > .nav-link.active::before {
  content: "• ";
}
#toc-collapse .nav-item[data-level="3"] {
  font-weight: normal;
  font-size: 1rem;
  margin: 0.3rem 0 0 1rem;
}
#toc-collapse .nav-link {
  padding: 0rem;
}
#toc-collapse .nav-link:not(.active) + .subnav {
  display: none;
}

.navbar-brand {
  font-size: 1rem;
}
.navbar-brand img {
  margin-right: 0.25rem;
}

body {
  position: relative;
}

.main-content {
  margin-top: 3rem;
}

.gallery-block .gallery-item {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}
.gallery-block .gallery-item img.x-50 {
  width: 50%;
}
.gallery-block .gallery-item img.x-75 {
  width: 75%;
}

.example-block {
  width: 100%;
  padding: 1em;
  margin: 0 0 1em 0;
}
.example-block .example {
  display: flex;
}
.example-block .example > * {
  display: flex;
  padding: 1em;
  justify-content: center;
  flex-direction: column;
}
.example-block .example:last-child {
  flex-grow: 1;
  display: flex;
}
.example-block .example:last-child span:first-child {
  font-weight: 600;
}

.example-color {
  margin: 1em 0em;
  display: flex;
  justify-content: space-between;
}
.example-color-circle {
  width: 30%;
  border-radius: 99em;
}
.example-color-description {
  width: 65%;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.example-color-description span:first-child {
  font-weight: 600;
}

.example-type {
  display: flex;
  flex-direction: column;
}
.example-type > span:last-child {
  font-weight: 500;
}

.example-icons {
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.example-icons > div {
  display: flex;
  width: 10em;
  align-items: baseline;
}
.example-icons > div > span {
  font-size: 0.8rem;
  padding: 0.25em;
}
.example-icons > div > span:first-child {
  font-size: 1.4rem;
}

.example-badges .label {
  text-transform: uppercase;
  font-size: 0.9em;
}
.example-badges .description {
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
